* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: sans-serif;
    color: white;
}

h3 {
    color: white;
}

.hidden {
    display: none !important;
}


.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
}

.left-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.topnav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.loading h3 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.search-container {
    display: flex;
    align-items: center;
}

form {
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

input {
    font: 15px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
}

.thumbnail {
    height: 350px;
    width: 300px;
    border-radius: 19px;
}

.column {
    float: left;
    width: 20%;
    padding: 10px 10px;
}

.card {
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    background-color: #151f30;
}

.card h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

#title-link {
    color: rgb(76, 155, 129);
    text-decoration: none;
}

#title-link:hover {
    color: rgb(13, 110, 78);
}